html,
body {
  height: 100%;
  padding: 0;
  margin: 0;
  font-family: 'Open Sans', sans-serif !important;
  color: #434242;
  font-size: 15px;
  line-height: 1.64;
}
.backdrop {
  height: 100%;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
  background: no-repeat center right fixed url('../img/bg.jpg');
  background-size: cover;
  opacity: 0.8;
}
.overlay {
  height: 100%;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 2;
  background: rgba(255, 0, 0, 0.2);
  color: #fff;
}
.overlay .jumbotron {
  background: none;
  text-align: center;
}
.overlay .jumbotron .container {
  position: absolute;
  top: 28%;
  left: 0;
  right: 0;
}
.overlay .jumbotron .container h1 {
  border-bottom: 1px solid #fff;
  border-bottom-color: rgba(255, 255, 255, 0.35);
  display: inline-block;
  font-weight: 500;
  font-size: 90px;
}
.darkOverlay {
  background: #222222;
  position: absolute;
  z-index: 4;
  padding: 12px 30px;
  color: white;
  cursor: pointer;
  width: 150px;
}
.blogLink {
  position: fixed;
  right: 0;
  top: 20px;
  width: auto;
  padding-right: 62px;
  box-shadow: 0 0 14px #222;
  transition: all 0.2s;
  z-index: 4;
}
.blogLink a {
  color: #fff;
  text-decoration: none;
  font-size: 22px;
  font-weight: bold;
}
.blogLink:hover {
  padding-right: 82px;
}
.downArrow {
  bottom: 0;
  left: 50%;
  margin-left: -75px;
  font-size: 52px;
}
.downArrow i {
  position: relative;
  top: 4px;
  transition: top 0.3s;
  width: 100%;
  text-align: center;
}
.downArrow:hover i {
  top: 12px;
}
.main {
  width: 100%;
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 3;
}
.main .white {
  background: #fff;
}
.main .grey {
  background: #F3EFE0;
}
.main .footer {
  background: #434242;
}
.main .footer h2 {
  color: white;
}
.main .footer a {
  display: block;
  line-height: 32px;
  margin-bottom: 20px;
  opacity: 0.6;
  color: white;
  width: 100%;
  text-align: center;
}
.main .footer a i {
  font-size: 28px;
  margin-right: 16px;
}
.main h2 {
  font-size: 54px;
  text-align: center;
  font-weight: 300;
  padding-top: 40px;
  padding-bottom: 16px;
  color: #F00;
  color: rgba(255, 0, 0, 0.7);
}
.main h3 {
  font-weight: 300;
  color: #F00;
}
.main h4 {
  font-weight: 700;
}
.main p.lead {
  color: #727878;
  text-align: center;
}
.main hr {
  margin: 40px 0;
  border-color: #727878;
  opacity: 0.2;
}
.main .pic img {
  width: 80%;
  margin: 0 10% 24px 10%;
  border-radius: 50%;
  border: 10px solid #EAEAEA;
}
.main p strong {
  font-size: 15px;
}
.main p .btn-muted {
  background: #EAEAEA;
  border: 1px solid #AAA;
  color: black;
}
.main p .btn-muted:hover {
  background: #CACACA;
}
.main p .where {
  color: rgba(255, 0, 0, 0.7);
  font-weight: 700;
  display: inline-block;
  padding: 4px;
}
.main .copy {
  display: inline-block;
  width: 100%;
  text-align: center;
  color: white;
  margin-bottom: 32px;
}
.main .rating-con > span {
  display: block;
  width: 100%;
  padding: 3px 8px;
  border-radius: 4px;
}
.main .rating-con > span .glyphicon {
  color: rgba(255, 0, 0, 0.7);
  position: relative;
  left: 0;
  transition: left 0.3s, transform 0.3s;
}
.main .rating-con > span > span:first-child {
  position: relative;
  left: 0;
  transition: left 0.3s, transform 0.3s;
}
.main .rating-con > span:hover {
  background: rgba(255, 0, 0, 0.05);
}
.main .rating-con > span:hover .glyphicon {
  left: -8px;
  transform: scale(1.2);
}
.main .rating-con > span:hover > span:first-child {
  left: 8px;
}
.main .project {
  max-width: 460px;
  height: 280px;
  background-size: cover;
  background-position: center;
  margin: 0 auto 22px;
  overflow: hidden;
  position: relative;
  box-shadow: 0 0 20px #AAA;
}
.main .project a {
  display: inline-block;
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 2;
}
.main .project a + .project-hover {
  padding: 22px;
  width: 100%;
  height: 100%;
  color: white;
  opacity: 0;
  background: rgba(255, 0, 0, 0.7);
  transition: opacity 0.6s;
  cursor: pointer;
}
.main .project a + .project-hover b {
  font-size: 32px;
}
.main .project a + .project-hover hr {
  border-color: white;
  opacity: 1;
  border-width: 3px;
  margin: 12px 0;
  width: 0;
  transition: width 0.6s;
}
.main .project a + .project-hover p {
  transition: left 0.6s;
  position: relative;
  left: 300px;
}
.main .project a:hover + .project-hover,
.main .project a.hover + .project-hover {
  opacity: 1;
}
.main .project a:hover + .project-hover hr,
.main .project a.hover + .project-hover hr {
  width: 100%;
}
.main .project a:hover + .project-hover p,
.main .project a.hover + .project-hover p {
  left: 0;
}
@media screen and (max-width: 600px) {
  .container .project {
    height: 350px;
  }
}
